<body>
  <app-header></app-header>
  <main>
   <div class="container">
    <div class="row">
        <div class="col-3"> <h1 id="text1">We Get Pet Care!</h1></div>
        <div class="col-5 offset-4"> <img id="dog" src="assets/main_a/dog.png" alt="Image"></div>
    </div>
    <div class="row">
        <div class="col-3"> <h1 id="text2">Our Services</h1></div>    
        <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; width: 400px;margin-left: 150px;margin-top: 70px;">
          <div style="width: 50%; height: 50%;">
            <a href="logement1"><img src="assets\main_a\logement.png" style="width: 100%; height: 100%;"></a>
          </div>
          <div style="width: 50%; height: 50%;">
            <a href="forum"><img src="assets\main_a\forum.png" style="width: 100%; height: 100%;"></a>
          </div>
          <div style="width: 50%; height: 50%;">
            <a href="adoption"><img src="assets\main_a\adoption.png" style="width: 100%; height: 100%;"></a>
          </div>
          <div style="width: 50%; height: 50%;">
            <a href="signal"><img src="assets\main_a\signal.png" style="width: 100%; height: 100%;"></a>
          </div>
        </div>
    </div>
    <div class="row"><h1 id="text3">Here's what pet owners have to <br>say about MyPet !</h1></div>
    <div class="review-card col-4" style="background-color: #eb651c">
        <img src="assets\main_a\avatar1.png" alt="Reviewer" class="reviewer-image">
        <h3 class="reviewer-name">Olivia Taylor</h3>
        <p class="review-text">I absolutely love this pet website! It has everything I need to keep my furry friend happy and healthy. The articles are informative and well-written. </p>
      </div>
      
      <div class="review-card col-4" style="background-color: #123879">
        <img src="assets/main_a/avatar2.png" alt="Reviewer" class="reviewer-image">
        <h3 class="reviewer-name">Ethan Rodriguez</h3>
        <p class="review-text">The community forums are a fantastic resource for getting advice and connecting with other pet owners. I highly recommend this website to anyone who loves their pets!</p>
      </div>
      
      <div class="review-card col-4" style="background-color: #eb651c">
        <img src="assets/main_a/avatar3.png" alt="Reviewer" class="reviewer-image">
        <h3 class="reviewer-name">Maya Patel</h3>
        <p class="review-text">I found a great pet sitter through this website! It was easy to search for sitters in my area. The sitter took great care of my dog. I highly recommend this website for finding reliable pet care services.</p>
      </div>
      <br><br><br><br><br><br>
      <div class="row">
        <div class="col-3 offset-1"><img src="assets/main_a/dog2.png" id="dog2" alt="Donate for Animals"></div>
        <div class="card col-4">
          <div class="card-content">
            <h2 class="card-title">I Donate for the Animals!</h2>
            <p class="card-text">Your contribution goes straight to work helping tens of thousands of animals--both at the Sanctuary and through outreach and rescue programs all across the country.</p>
            <a class="donate-btn" href="https://secure.aspca.org/donate/donate">Donate Now</a>
          </div>
        </div>
      </div>
</div>
  </main>
  <br><br>
  <app-footer></app-footer>
  <script src="js/bootstrap.min.js"></script>
</body>