    <div class="ftt">
        <ul class="social-icons" id="sm">
          <li><a href="https://www.facebook.com/facebook"><img src="assets/footer_a/facebook.png" alt="Facebook"></a></li>
          <li><a href="https://www.twitter.com/twitter"><img src="assets/footer_a/twitter.png" alt="Twitter"></a></li>
          <li><a href="https://www.instagram.com/instagram"><img src="assets/footer_a/insta.png" alt="Instagram"></a></li>
        </ul>
        <div class="text-center p-3">
          © 2023 Copyright: <a class="text-center" href="main">WWW.MYPET.COM</a>
      </div>
    </div>